<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{% include icon-email.svg %}Email</a></li> 
        </ul>
      </div>
<div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li><a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">{% include icon-linkedin.svg %}Linkedin</a></li> 
        </ul>
      </div>
      <div class="footer-col footer-col-3">
       <ul class="contact-list">
          <li><a href="https://www.github.com/{{ site.github.username }}">{% include icon-github.svg %}Github</a></li> 
        </ul>
      </div>     

    </div>

  </div>

</footer>
